.header-container {
  /* background-color: brown; */
  display: flex;
  align-items: end;
  height: 42px;
  width: 100%;
  margin-bottom: 10px;
}
.header-container nav {
  width: 210px;
  @media (min-width: 375px) {
    width: 230px;
  }
}

.theme {
  margin-right: 0;
  margin-left: auto;
  align-self: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.link {
  transform: rotate('0' deg);
}
.activLink {
  transform: rotate(-20deg);
}
.icon {
  transition: transform 0.3s ease;
}

.iconActive {
  transform: rotate(-20deg);
}

.navItem {
  display: flex;
  align-items: center;
  position: relative;
}

.cartNavItem {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translate(100%);
  background-color: var(--prymary-color-600);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base-white-color);
}
