:root {
  /* main bg colors */
  --main-bg-color-light-theme: #ffffff;
  --main-bg-color-dark-theme: #272625;
  /* Typografy colors*/
  --typografy-color-100-light: #b6b8b5;
  --typografy-color-200-light: #91958e;
  --typografy-color-300-light: #70756b;
  --typografy-color-400-light: #60655c;
  --typografy-color-500-light: #363a33;

  --typografy-color-100-dark: #7f7f7e;
  --typografy-color-200-dark: #888a87;
  --typografy-color-300-dark: #9fa19e;
  --typografy-color-400-dark: #c8c9c7;
  --typografy-color-500-dark: #eef0ed;

  /* Prymary color */
  --prymary-color-100-light: #ecf1e8;
  --prymary-color-200-light: #ddefce;
  --prymary-color-300-light: #b7ec8c;
  --prymary-color-400-light: #8bde47;
  --prymary-color-500-light: #67bd1f;
  --prymary-color-600-light: #54a312;
  --prymary-color-700-light: #408308;

  --prymary-color-100-dark: #3b3f38;
  --prymary-color-200-dark: #3e532d;
  --prymary-color-300-dark: #436923;
  --prymary-color-400-dark: #5d9e26;
  --prymary-color-500-dark: #6cb231;
  --prymary-color-600-dark: #70ba32;
  --prymary-color-700-dark: #88cd4e;

  /* Grey white*/
  --grey-shades-0-light: #ffffff;
  --grey-shades-50-light: #f9faf8;
  --grey-shades-100-light: #f4f7f2;
  --grey-shades-200-light: #e8ebe6;
  --grey-shades-300-light: #a9ada5;
  --grey-shades-400-light: #91958e;
  --grey-shades-500-light: #60635e;

  /* Grey dark*/
  --grey-shades-0-dark: #262725;
  --grey-shades-50-dark: #2d2e2c;
  --grey-shades-100-dark: #313330;
  --grey-shades-200-dark: #3d3d3d;
  --grey-shades-300-dark: #7a7a79;
  --grey-shades-400-dark: #989998;
  --grey-shades-500-dark: #d5d6d3;

  /* Other colors */
  --other-colors-red-light: #e25839;
  --other-colors-yellow-light: #f5ae42;
  --other-colors-blue-light: #24b5d4;
  --other-colors-green-light: #45b733;
  --other-colors-orange-light: #e8712e;

  /* Transparent */
  --transparent-color-gray-500-6-light: #60635e;
  --transparent-color-gray-0-92-light: #ffffff;
  --transparent-color-primary-600-24-light: #54a312;
  --transparent-color-bg-blur-80-light: #9fa19e;

  /* Gradient */

  --gradient-light-light: #5ead1d;
  --gradient-dark-light: #54a312;

  /* Other colors */
  --other-colors-red-dark: #fb6a57;
  --other-colors-yellow-dark: #fbb650;
  --other-colors-blue-dark: #6fbdce;
  --other-colors-green-dark: #8cec7d;
  --other-colors-orange-dark: #e48047;

  /* Transparent */
  --transparent-color-gray-500-6-dark: #d5d6d3;
  --transparent-color-gray-0-92-dark: #262725;
  --transparent-color-primary-600-24-dark: #70ba32;
  --transparent-color-bg-blur-80-dark: #262725;

  /* Gradient */

  --gradient-light-dark: #6cb231;
  --gradient-dark-dark: #6cb231;
}

[data-theme='light'] {
  /* main bg colors */
  --main-bg-color: var(--main-bg-color-light-theme);
  /* Typografy colors*/
  --typografy-color-100: var(--typografy-color-100-light);
  --typografy-color-200: var(--typografy-color-200-light);
  --typografy-color-300: var(--typografy-color-300-light);
  --typografy-color-400: var(--typografy-color-400-light);
  --typografy-color-500: var(--typografy-color-500-light);

  /* prymary */
  --prymary-color-100: var(--prymary-color-100-light);
  --prymary-color-200: var(--prymary-color-200-light);
  --prymary-color-300: var(--prymary-color-300-light);
  --prymary-color-400: var(--prymary-color-400-light);
  --prymary-color-500: var(--prymary-color-500-light);
  --prymary-color-600: var(--prymary-color-600-light);
  --prymary-color-700: var(--prymary-color-700-light);

  /* Grey */
  --grey-shades-0: var(--grey-shades-0-light);
  --grey-shades-50: var(--grey-shades-50-light);
  --grey-shades-100: var(--grey-shades-100-light);
  --grey-shades-200: var(--grey-shades-200-light);
  --grey-shades-300: var(--grey-shades-300-light);
  --grey-shades-400: var(--grey-shades-400-light);
  --grey-shades-500: var(--grey-shades-500-light);

  /* Other colors */
  --other-colors-red: var(--other-colors-red-light);
  --other-colors-yellow: var(--other-colors-yellow-light);
  --other-colors-blue: var(--other-colors-blue-light);
  --other-colors-green: var(--other-colors-green-light);
  --other-colors-orange: var(--other-colors-orange-light);

  /* Transparent */
  --transparent-color-gray-500-6: var(--transparent-color-gray-500-6-light);
  --transparent-color-gray-0-92: var(--transparent-color-gray-0-92-light);
  --transparent-color-primary-600-24: var(--transparent-color-primary-600-24-light);
  --transparent-color-bg-blur-80: var(--transparent-color-bg-blur-80-light);

  /* Gradient */

  --gradient-light: var(--gradient-light-light);
  --gradient-dark: var(--gradient-dark-light);
}

[data-theme='dark'] {
  /* main bg colors */
  --main-bg-color: var(--main-bg-color-dark-theme);
  /* Typografy colors*/
  --typografy-color-100: var(--typografy-color-100-dark);
  --typografy-color-200: var(--typografy-color-200-dark);
  --typografy-color-300: var(--typografy-color-300-dark);
  --typografy-color-400: var(--typografy-color-400-dark);
  --typografy-color-500: var(--typografy-color-500-dark);

  /* prymary */
  --prymary-color-100: var(--prymary-color-100-dark);
  --prymary-color-200: var(--prymary-color-200-dark);
  --prymary-color-300: var(--prymary-color-300-dark);
  --prymary-color-400: var(--prymary-color-400-dark);
  --prymary-color-500: var(--prymary-color-500-dark);
  --prymary-color-600: var(--prymary-color-600-dark);
  --prymary-color-700: var(--prymary-color-700-dark);

  /* Grey */
  --grey-shades-0: var(--grey-shades-0-dark);
  --grey-shades-50: var(--grey-shades-50-dark);
  --grey-shades-100: var(--grey-shades-100-dark);
  --grey-shades-200: var(--grey-shades-200-dark);
  --grey-shades-300: var(--grey-shades-300-dark);
  --grey-shades-400: var(--grey-shades-400-dark);
  --grey-shades-500: var(--grey-shades-500-dark);

  /* Other colors */
  --other-colors-red: var(--other-colors-red-dark);
  --other-colors-yellow: var(--other-colors-yellow-dark);
  --other-colors-blue: var(--other-colors-blue-dark);
  --other-colors-green: var(--other-colors-green-dark);
  --other-colors-orange: var(--other-colors-orange-dark);

  /* Transparent */
  --transparent-color-gray-500-6: var(--transparent-color-gray-500-6-dark);
  --transparent-color-gray-0-92: var(--transparent-color-gray-0-92-dark);
  --transparent-color-primary-600-24: var(--transparent-color-primary-600-24-dark);
  --transparent-color-bg-blur-80: var(--transparent-color-bg-blur-80-dark);

  /* Gradient */

  --gradient-light: var(--gradient-light-dark);
  --gradient-dark: var(--gradient-dark-dark);
}
